<style>
    .header_account_btns {
        color: white!important;
        padding: 5px 8px;
        background: green;
        width: 100%;
        border-radius: 3px;
        border: none;
        font-size: 15px;
        text-decoration: none;
    }
</style>
<header id="header" class="header d-flex align-items-center sticky-top">

    <div class="container position-relative d-flex align-items-center">

      <a href="{% url 'myapp:index' %}" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Chuluni</h1><span>Compassion</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'myapp:index' %}">Home</a></li>
          <li class="dropdown"><a href="{% url 'myapp:about' %}" class="active"><span>About</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'myapp:team' %}">Team</a></li>
            </ul>
          </li>
          <li><a href="{% url 'myapp:sponsor_a_child' %}">Sponsor A Child </a></li>
          <li><a href="{% url 'myapp:gallery' %}">Gallery</a></li>
          <li class="dropdown"><a href="#" class="active"><span>My Account</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
             <ul style="min-width: 150px;padding: 10px">
                 {% if user.is_authenticated %}
                     {% if user.is_beneficiary %}
                         <li><a href="#">Profile</a></li>
                         <li><a href="#">Supports</a></li>
                         <li><a href="{% url 'myapp:show_appointments' %}">Appointments</a></li>
                     {% elif user.is_supporter %}
                         <li><a href="#">Your Supports</a></li>
                         <li><a href="{% url 'myapp:view_support_laters' %}">Support Later</a></li>
                         <li><a href="{% url 'myapp:show_appointments' %}">Appointments</a></li>
                     {% endif %}
                     <hr>
                     <a class="header_account_btns" href="{% url 'accounts:logout' %}">LogOut</a>
             {% else %}
                     <a class="header_account_btns" href="{% url 'accounts:login' %}">LogIn</a>
                     <hr>
                     <a class="header_account_btns" href="{% url 'accounts:register' %}">Register</a>
                 {% endif %}
            </ul>
          </li>
            
            
{#          <li><a href="{% url 'myapp:beneficiary' %}">Beneficiary</a></li>#}
          <li><a href="{% url 'myapp:appointment' %}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

{#      <div class="">#}
{#        <a href="{% url 'accounts:register' %}"><button type="" class="btn btn secondary">Register</button></a>#}
{#          #}
{#        <a href="{% url 'accounts:login' %}" class="">Login</a>#}
{#        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>#}
{#        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>#}
{#      </div>#}

    </div>
  </header>